ACTION=="add", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN{program}+="/usr/bin/usb-rofi -d '%E{DEVNAME}:%E{ID_VENDOR}'"
ACTION=="remove", SUBSYSTEM=="block", ENV{DEVTYPE}=="partition", RUN{program}+="/usr/bin/usb-rofi -c '/mnt/%E{ID_VENDOR}'"
